@import "tailwindcss";

html, body {
  margin: 0;
  padding: 0;
}

*{
  font-family: Arial, "Times New Roman", "Calibri" , Helvetica, Verdana, Tahoma;
}


.cover-wrapper {
  page-break-inside: avoid;
  overflow: hidden;
  background-color: white;
}


/* Custom styles for A4 page */
.A4 {
  width: 210mm;
  min-height: 297mm;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

